* {
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.notes-app {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.notes-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.notes-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    flex-direction: column; /* Changed to column layout for better note structure */
    background: #edeef0;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
}

input, textarea {
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}
#notes-container
{
    padding-left: 0px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 13px 14px;
    user-select: none;
    cursor: pointer;
    position: relative;
    background: #edeef0;
    border-radius: 10px;
    margin-bottom: 18px;
}

ul li strong {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background: #edeef0;
}
